

<nav style="background-color: rgba(158, 158, 158, 0.21);">
 <div class="nav-wrapper">
 <a href=" https://www.linkedin.com/in/carlos-rivera-8268324b/" style="color: #99ADEB; marginright:
10px;" class="right"> Copyright &copy; Carlos Rivera</a>
 </div>
</nav> 